# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# dotenv (secrets)
.env

# OS / editor
.DS_Store
.vscode/

# Tarot images (no subir)
Cartas-Tarot/

# Logs
*.log